h1{
  margin: 0 auto 50px;
  line-height: 1;
  font-size:50px;
}
h2{
  font-size: 28px;
  line-height: 1;
  text-align: left;
}
.btn{
  min-width: 300px;
  padding:25px 30px;
  border:2px solid $point;
  border-radius: 8px;
  display: inline-block;
  color: #e7b200;
  margin-top:75px;
  font-size: 1.42rem;
  line-height: 1;
  box-sizing: border-box;
}
main, #about{
  @include fontfamily(100, "pen");
}
#main{
  display:block;
  position:relative;
  height: 100%; /*1vh == view port 1%*/
  min-height: 800px;
  margin: 60px auto 0;
  overflow: hidden;
  text-align:center;
  @include bg("img_main.jpg", no-repeat, 48% 300px);
  h1{
    margin: 115px 0 5px;
    font-size:4.2rem;
  }
  p{
    font-size:1.92rem;
  }
}
section{
  padding: 130px 0 100px;
  text-align:center;
}
#about{
  background: #fafafa;
  padding: 0;
  overflow: hidden;
  h1{
    color:$point;
  }
  .intro{
    padding: 130px 0;
    font-size: 1.42rem;
    line-height: 2.5;
    color: #646464;
  }
  .skill{
      padding:100px 0;
      background: $point;
      color:$white;
      .img{
        width:120px;
        display: inline-block;
        vertical-align: top;
        margin: 0 40px;
        &:first-child{
          margin-left: 0;
        }
        &:last-child{
          margin-right: 0;
        }
      }
  }
}
#contact{
  padding:70px 0;
  background: $point;
  h1{
    color:$white;
    margin-bottom: 20px;
  }
  a.btn{
    margin-top: 30px;
    color : $white;
    border-color: $white;
    .img{
     vertical-align: middle;
      margin-right: 15px;
    }
  }
  span{
    display: block;
    color:$white;
  }
}
#port{
  max-width: $pc;
  margin:0 auto;
  h1, h2{
    @include fontfamily(100, "pen");
  }
  //hooper 슬라이더 커스텀
  .corver{
    background: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 30px 30px;
    text-align: left;
    color:rgba(255,255,255, 0.8);
	  @include fontfamily(100, "sq");
    position: relative;
    cursor: pointer;
    transition: all 100ms;
    opacity: 0;
    h3{
      font-size: 22px;
      color:$white;
    }
    .sub_tit{
      margin-top:5px;
      font-size: 16px;
    }
    .info{
      font-size: 14px;
      margin-top:14px;
    }
    .link{
      position: absolute;
      font-size: 12px;
      right: 25px;
      bottom: 15px;
      text-align: right;
      text-decoration: underline;

    }
  }
  .hooper{
    height: auto;
    padding: 0;
    &:focus{
      outline: none;
    }
  }
  .hooper-slide {
    width: 360px !important;
    height: 240px;
    box-sizing: border-box;
    background-size: 100% !important;
    background-repeat: no-repeat !important;
    float: left;
    margin: 15px 20px;
    border-radius: 15px;
    border: 2px solid #efefef;
    box-shadow: 5px 5px 10px 0px #eee;
    overflow: hidden;
    &:hover{
      .corver{
        opacity: 1;
      }
    }
  }
  .is-dragging{
    background: red;
    .corver{
    }
  }
  .slider{
    position: relative;
    h2{
      padding: 0 20px;
    }
    .hooper{
      margin: 20px 0 50px;
    }
    .hooper-pagination{
      top:-20px;
      right:15px;
      bottom: -20px;
      transform:none;
      display: block;
    }
    .hooper-indicator{
      background: #cacaca;
    }
    button.is-active{
      background: $point;
    }
    .prev, .next{
      @include blind;
      @include set_content(20px, 25px, block, absolute);
      top:58%;
      transform: translateY(-50%);
      z-index: 2;
      &:before{
        @include set_content(15px, 15px, block);
        border-left: 2px solid #cacaca;
        border-bottom: 2px solid #cacaca;
        
      }
    }
    .prev{
      left: -15px;
      &:before{
        transform: rotate(45deg);
        margin-left: 5px;
      }
    }
    .next{
      right: -13px;
      &:before{
        transform: rotate(225deg);
        margin-right: 0px;
      }
    }
  }
}
.pop{
  padding: 0;
  top:0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 10;
  @include set_content(100%,100%, block, fixed, #242424);
  .wrap{
    width: $pc;
    margin: 0 auto;
    padding:100px 0 50px;
    text-align: left;
    box-sizing: border-box;
    color:rgba(255,255,255, 0.8);
    position: relative;
    h2{
      color:$white;
    }
    .close{
      @include blind;
      @include set_content(35px, 35px, block, absolute);
      border: 1px solid $white;
      right: 0;
      top:65px;
      &:before{
        @include set_content(2px, 20px, block, absolute, $white);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
      }
      &:after{
        @include set_content(2px, 20px, block, absolute, $white);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
    // font-size: 15px;
    // h3{
    //   margin-bottom: 10px;
    //   font-size: 24px;
    //   position: relative;
    //   display: inline-block;
    //   &:before{
    //     @include set_content(100%, 2px, block, absolute, $point);
    //     bottom:0;
    //     left:0;
    //   }
    // }
    // .cont{
    //   width: 870px;
    //   margin: 0 auto;
    //   padding: 0 100px;
    //   box-sizing: border-box;
    //   position:relative;
    // }
    // p{
    //   color:#777777;
    // }
    // .site{
    //   width: 670px;
    //   margin: 25px 0 50px;
    // }
    // a{
    //   color:#3c8fd3;
    //   text-decoration: underline;
    // }
    // li{
    //   margin-bottom: 10px;
    // }
  }
}
.pop_wrap{
  position: fixed;
  z-index: 10;
  padding:0;
  margin:0;
  @include set_content(100%,100%, none, fixed, $black);
  top:0;
  left:0;
  .pop{
    @include set_content(100%, 100%, none, absolute, $white);
    max-width: 900px;
    max-height: 650px;
    overflow: auto;
    padding:70px 0;
    border: 5px solid $black;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    font-size: 15px;
    h3{
      margin-bottom: 10px;
      font-size: 24px;
      position: relative;
      display: inline-block;
      &:before{
        @include set_content(100%, 2px, block, absolute, $point);
        bottom:0;
        left:0;
      }
    }
    .cont{
      width: 870px;
      margin: 0 auto;
      padding: 0 100px;
      box-sizing: border-box;
      position:relative;
    }
    p{
      color:#777777;
    }
    .site{
      width: 670px;
      margin: 25px 0 50px;
    }
    a{
      color:#3c8fd3;
      text-decoration: underline;
    }
    li{
      margin-bottom: 10px;
    }
  }
  .btn_close{
    position: absolute;
    width: 30px;
    height: 30px;
    border:1px solid $black;
    top:-20px;
    right:40px;
    @include blind;
    &:before{
      @include set_content(2px, 20px, block, absolute, $black);
      transform: translate(-50%, -50%) rotate(45deg);
      top:50%;
      left:50%;
    }
    &:after{
      @include set_content(2px, 20px, block, absolute, $black);
      transform: translate(-50%, -50%) rotate(135deg);
      top:50%;
      left:50%;
    }
  }
}