@include setFont("NanumSquare", "NanumSquareLight", 100);
@include setFont("NanumSquare", "NanumSquareRegular", 400);
@include setFont("NanumBarunpen", "NanumBarunpen", 100);

html,body {
	border:none;
	@include fontfamily(100);
	font-size: $font_size;
	line-height:1.7;
	color:$black;
	overflow-x:hidden;
	word-break: keep-all;
}
html,body,div,ul,li,dl,dt,dd,ol,p,h1,h2,h3,h4,h5,h6,form,fieldset {
	margin:0;
	padding:0;
}
h1,h2,h3,h4,h5,h6,strong,b,th{
	font-weight:400;
}
html {
	-webkit-text-size-adjust:none;
}
ul,ol,dl {
	list-style:none;
}
address,em,i {
	font-style:normal;
}
img {
	border:0;
	vertical-align:top;
}
fieldset {
	border:0;
}
table {
	border-collapse:collapse;
	table-layout:fixed;
	border-spacing:0px;
}
button, .btn {
	border:none;
	background:none;
	cursor:pointer;
	outline:none;
	padding:0px;
	@include fontfamily(400);
}
input[type=text], input[type=password], input[type=tel], input[type=email], input[type=button], input[type=submit], input[type=reset], button, select,textarea {
	@include fontfamily(100);
}

a, a:active, a:link, a:visited, a:hover {
	text-decoration:none;
}
a {
	color:#222;
}
header, footer, main{
	display:block;
	clear: both;
}
hr {
	margin:0;
	border-top:1px solid $black;
    border-bottom:0;
}
.blind {
	display:block;
	position:absolute !important;
	top:-2000em;
	left:-2000em;
	width:1px;
	height:1px;
	text-indent:2000em;
	font-size:1px;
}

::-webkit-scrollbar {
	width: 7px;
	height: 7px;
	background: #ccc;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: #ccc;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: #444444;
	border-radius: 5px;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #444444;
  }
  ::-webkit-resizer {
	background-color: #ccc;
  }
  ::-webkit-scrollbar-corner {
	background-color: #ccc;
  }
  body, html,input,select,textarea,div, section{
	scrollbar-color: #444444 #ccc;
	scrollbar-width: thin;
	scrollbar-height: thin;
  }