$url : "../img/";
$font_url : "../font/";

$family : NanumSquare, "맑은 고딕","Malgun Gothic","돋움",Dotum,"굴림",Gulim,Helvetica,sans-serif;
$family_pen : NanumBarunpen;

$font_size:14px;

$point:#fcd552;
$black:#444444;
$white:#ffffff;
$gray:#999999;
$lightgray:#f0f0f0;
$red:#F52222;

/* header pc height */
$header_pc :60px;
$pc_min:1080px;
$pc:1200px;